.board{
    
    color: white;
    width: 100%;
    border-radius: 15px;
   
background-image: linear-gradient(to bottom right, rgb(189, 55, 206),rgb(255, 143, 255) );    
}

.u-board{
   
    width: 100%;  
    border-top-left-radius: 15px;  
    border-top-right-radius: 15px;  
    /* border-radius: 15px; */
    /* height: 10vh; */
    background-color: rgb(64, 28, 83);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.u-board button{
    background-color:red;
    padding: .4rem;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    
}
.main-board{
   
    padding: .5rem;
    display: flex;
    overflow: auto;
    height:80vh;
    gap: 10px;
}





.add-list{
   
    padding: .3rem;
    width: 16rem;
    
   
}   
.list-form{
    background-color: black;
    border-radius: 10px;
    padding: .8rem;
    width: 16rem;
}



.list-form button{
    background-color: rgb(19, 62, 182);
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    padding: .3rem;
    font-weight: 500;
   
}

.add-list input{
    
    width: 16rem;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    padding: .8rem;
   
    opacity: .6;
    
}
.add-list input::placeholder{
    font-size: 1rem;
    font-weight: 500;
    
 
  color: rgb(0, 0, 0);
  
}
.add-list>input:hover{
    cursor: pointer;
    opacity: .4;
}

.show-list{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    /* height: max-content; */
   
    
    
    
   
}
.heading{
   
background-color: rgb(6, 44, 44);    
display: flex;    
    justify-content: space-between;
    text-align: center;
    font-size: 1.6rem;
    padding: .8rem;
    border-radius: 10px;
    color: rgb(203, 193, 217);
    
}
.heading input{
    
  border: none;
  background-color: rgb(13, 59, 22);
  color: rgb(203, 193, 217);
    font-size: 14px;
    padding: .3rem;
    width: 100%;
    
}
.heading button{
    background-color: rgba(0, 3, 9, 0.395);
    font-size: 12px;
    border: none;
    border-radius: 10px;
    padding: .3rem;
    font-weight: 500;
    color: white;
    /* margin-left: 3px; */
    
}
 .edit-buttons{
    display: flex;
   
    
    align-items: center;
    margin-left: 3px;
   
} 


.single-list{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(73, 33, 110);
    /* border: 2px solid rgba(238, 130, 238, 0.401); */
    border-radius: 16px;
   
    height: max-content;    
    width: 16rem;
    color: black;
    padding: .5rem;
    
}

.editDelete-list{
    display: flex;
    gap: 5px;
}