.board{
    background-color: rgb(88, 39, 94);
    color: white;
    width: 80%;
    border-radius: 15px;
    
}

.u-board{
   
    width: 100%;    
    border-radius: 15px;
    height: 10vh;
    background-color: rgb(64, 28, 83);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.u-board button{
    background-color:red;
    padding: .4rem;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    
}
.main-board{
   
    padding: .5rem;
    display: flex;
    overflow: auto;
    height:80vh;
    gap: 10px;
}





.add-list{
   
    padding: .3rem;
    width: 16rem;
    
   
}   
.list-form{
    background-color: black;
    border-radius: 10px;
    padding: .8rem;
    width: 16rem;
}



.list-form button{
    background-color: rgb(19, 62, 182);
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    padding: .3rem;
    font-weight: 500;
   
}

.add-list>input{
    
    width: 16rem;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    padding: .8rem;
   
    opacity: .6;
    
}
.add-list>input::placeholder{
  font-family: 'Times New Roman', Times, serif;
  
}
.add-list>input:hover{
    cursor: pointer;
    opacity: .4;
}

.show-list{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    height: max-content;
    
    
    
   
}
.heading{
    
    background-color: rgb(47, 4, 57);
    text-align: center;
    font-size: 1.6rem;
    padding: .3rem 0;
    border-radius: 10px;
    color: rgb(204, 110, 245);
    
}
.single-list{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(238, 130, 238, 0.401);
    border-radius: 16px;
   
    /* width: 16rem; */
    color: black;
    padding: .5rem;
    
}